.Board {
    height: 450px;
    width: 450px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    flex-wrap: wrap;
  }

  .Card{
    flex: 1;
  }
  
  .Card:hover{
    cursor: pointer;
  }
  
  .Card img{
    width: 100px;
    height: 100px;
  }

  #card15 {
    grid-column: 4/span 1;
  }