.Board {
  height: 450px;
  width: 450px;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

#right-side {
  margin-top: 20px;

}

#scores {
  margin-top: 30px;
}

#score-board {
  margin-left: 5px;
  width: 100px;
  height: 50px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

#move-counter {
  font-size: 20px;
  font-weight: bold;
  user-select: none;
}

.Card{
  flex: 1;
  margin:30px;
  padding: 15px;
  text-align: center;
  transition: transform .2s;
  transform-style: preserve-3d;
  user-select: none;
}

.Card:hover{
  cursor: pointer;
}

.Card:active{
  transform: rotateY(180deg);
}

.Card img{
  width: 100px;
  height: 100px;
  display: block;
  border: 2px solid black;
}

#post-score-button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70px;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

#name-input { 
  height: 20px;
  margin-right: 5px;
}

#moves-input {
  height: 20px;
  background-color: rgb(191, 191, 191);
  user-select: none;
  cursor: default;
  margin-left: 5px;
}

.score {
  margin: 3px;
}

#input-fields {
  margin-top: 10px;
}

#save-button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70px;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

button:hover {
  background-color: rgb(191, 191, 191);
}

button:active {
  background-color: rgb(155, 155, 155);
}

.loading-icon {
  font-size: 50pt;
  z-index: 100;
  position: fixed;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  animation: load 1s infinite linear;
}

@keyframes load {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}